{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Edit Company</h1>
  	  <ul class= "list-inline pull-right">
    <li>
    <a href="{{ path('company_index') }}">back to list</a>
	</li>
	<li>
    {{ include('company/_delete_form.html.twig') }}
    </li>
    </ul>
    {{ include('company/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}