{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company List</h1>
  <a class="btn btn-default pull-right" href="{{ path('company_new') }}" role="button">Create a new Company</a>
  <br><br>
    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.url }}</td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}">show |</a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}">edit |</a>
                    <a href="{{ path('company_delete', { 'id': company.id }) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}