{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Create new Company</h1>
        <a class="pull-right" href="{{ path('company_index') }}">back to list</a>
    {{ include('company/_form.html.twig') }}
    <br>
{% endblock %}