{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>
    <ul class="list-inline pull-right">
    <li>
     <a href="{{ path('company_index') }}">back to list</a>
    </li>
    <li>
    <a class="btn btn-default pull-right" href="{{ path('company_edit', {'id': company.id}) }}">edit</a>
     </li>
     </ul>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ company.url }}</td>
            </tr>
        </tbody>
    </table>

 

  

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}